<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assassins</title>
</head>

<body>
  <div id="banner">
    <h1>Assassins</h1>
    {% if quote %}
    <p>
      <i>{{ quote.text }}</i>
      <br />
      -{{ quote.author }}{% if quote.source != "" %}, <i>{{ quote.source }}</i> {% endif %}
    </p>
    {% endif %}
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
