<!DOCTYPE html>
<html lang="en">

<!-- Sneaky... You won't find anything useful here. -->

<head>
  <title>{% block title %}Assassins{% endblock %}</title>

  <link href="{{ STATIC_URL }}assassins/base.css" rel="stylesheet" type="text/css" />
  {% block extrahead %} {% endblock %}
</head>

<body>
  <div id="banner">
    <h1>Assassins</h1>
    <img id="birds" src="{{ STATIC_URL }}assassins/birds2.png">
    {% if quote %}
    <div id="Quote">
      <div id="QuoteText">{{ quote.text }}</div>
      <span id="QuoteDetails">-{{ quote.author }}{% if quote.source != "" %}, <i>{{ quote.source }}</i> {% endif %}</span>
    </div>
    {% endif %}
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
