{% extends "assassins/base.html" %}

{% block content %}
{% if current_player %}

<form action="confirm_kill" method="post">
{% csrf_token %}
<p>
  So you've eliminated {{ current_player.target.first_name }}... 
  <br />
  Please tell us how. Don't spare any details -- the more epic (and untrue), the better
  <br />
  <textarea name="details" rows="10" cols="75"></textarea>
  <br />
  <input type="hidden" name="target" value="{{ current_player.target.sunetid }}">
  <input type="submit" value="Confirm Kill">
  <input type="button" value="Nevermind" onClick="location.href='.'">
  <br />
  <a href="."></a>
</p>
</form>

{% else %}

<p>No current player...</p>

{% endif %}
{% endblock %}
