{% extends "assassins/base.html" %}

{% block content %}
{% if current_player %}

<form action="confirm_kill" method="post">
{% csrf_token %}
<p>
  So you've eliminated {{ current_player.target.first_name }}... 
  <br />
  Please tell us how. Don't spare any details -- the more exaggerated (and untrue), the better
  <br />
  <textarea name="details" rows="4" cols="50"></textarea>
  <br />
  <input type="submit" value="Confirm Kill">
  <br />
  <a href=".">Wait! I haven't actually eliminated them yet</a>
</p>
</form>

{% else %}

<p>No current player...</p>

{% endif %}
{% endblock %}
