{% extends "assassins/base.html" %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}assassins/countdown3.js"></script>
<!-- account for clock skew -->
<meta http-equiv="refresh" content="600">
{% endblock %}

{% block content %}
{% if current_player %}
<div class="sidebar">
{% include "assassins/dead_players_list.html" %}
{% include "assassins/rules.html" %}
</div>

<p>Hello {{ current_player.first_name }}.</p>
<p>Your target: {{ current_player.target.full_name }}</p>
<p>Time remaining: <span id="timer"></span></p>

<script>
  new Countdown( {{ current_player.get_time_remaining }}, "timer" );
</script>

<a href="kill">Submit assassination</a>
{% else %}
<p>No current player...</p>
{% endif %}
{% endblock %}
