{% extends "assassins/base.html" %}

{% block content %}

{% include "assassins/rules.html" %}

<h3>Register New User</h3>

<form action="submit_registration" method="post">
{% csrf_token %}
First name: <input type="text" name="first_name" value="{{ first_name }}">
<br/>
Last name: <input type="text" name="last_name" value="{{ last_name }}">
<br/>
Dorm: 
<select name="dorm" required>
  {% for dorm in dorms %}
  <option value="{{ dorm.name }}">{{ dorm.name }}</option>
  {% endfor %}
</select>
<input type="submit" value="Register">
</form>
{% endblock %}
