<h3 class="noTopMargin"> Rules </h3>

<ul>
  <li>Eliminate your targets and avoid being eliminated. The last assassin remaining wins.</li>
  <li>We begin the morning of the twenty-eighth.</li>
  <li>Your weapon will be provided for you.</li>
  <li>A successful assassination must go unwitnessed. Your shot cannot be witnessed by anyone (except the victim), or it is invalid.</li>
  <li>An assassination is "witnessed" if any person sees the killer in the action, sees the gun, or sees the stream of water and can testify on the victim's behalf.</li>
  <li>You have 72 hours to eliminate your target. If you fail, you will lose.</li>
  <li>You have 2 hours after completing a kill to submit your assassination, or you will also be eliminated for stalling. You can trust your victim will enforce this.</li> 
  <li>An assassination may not occur while the victim is in a restroom, in an in-session class, at work (i.e. a job), in a place of worship, in the victim's dorm room, or in your dorm's dining hall (including eating areas).</li>
  <li>A person is considered inside a room if any part of their body is inside the doorway</li>
  <li>You <i>may not tell anyone</i> your target.</li>
  <li>You may not warn your target if you are eliminated.</li>
  <li>Targets may be reassigned without warning.</li>
  <li>If your target times out, you will be notified and will receive a new target. Your time <i>will not</i> be extended.</li>
  <li>Participate with honor. If you submit an assassination, it is assumed your target does not dispute it. Similarly, accept a fair assassination with honor.</li>
  <li>If there is reasonable doubt about the validity of an assassination, it is considered invalid.</li>
  <li>The Game Master reserves the right to arbitrarily resolve all disputes and to eliminate anyone for violating the Assassins' Code of Honor.</li>
  <li>Good luck.</li>
</ul>
