<h3 class="noTopMargin"> Rules </h3>

<ul>
  <li>Eliminate your targets and avoid being eliminated. The last assassin remaining wins.</li>
  <li>A successful assassination must go unwitnessed. Your shot cannot be seen by any but the victim.</li>
  <li>You have 72 hours to eliminate your target. If you fail, you will lose.</li>
  <li>An assassination may not occur while the victim is in a restroom, in an in-session class, in a place of worship, or in the victim's dorm room.</li>
  <li>You may not tell anyone your target.</li>
  <li>You may not warn your target if you are eliminated.</li>
  <li>Targets may be reassigned without warning.</li>
  <li>If your target times out, you will be notified and will receive a new target. Your time will not be extended.</li>
  <li>Participate with honor. If you submit an assassination, it is assumed your target does not dispute it.</li>
  <li>If there is reasonable doubt about the validity of an assassination, it is considered invalid.</li>
</ul>
